!!!
%html{html_attrs}
  %head
    %title Roll Dice Online: Roll The Dice By Refreshing The Page | SnackEyes.com
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{:name=>"author", :content=>"Bryan Woods"}
    %meta{:name=>"description", :content=>"Roll Dice Online: Because Online Dice Rolling Should Be Pretty | SnackEyes.com"}
    %meta{:name=>"keywords", :content=>"dice, die, roll, roll dice, roll die, roll dice online, roll die online, roll two dice online"}
    :plain
      <!-- I have heard the mermaids singing, each to each. -->
  %body
    %center
      = yield
    :plain
      <!-- Google Analytics -->
    :plain
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-3114392-16");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>