:plain
  <!DOCTYPE html>
%html
  %head
    %title Roll Dice Online: Roll The Dice By Refreshing The Page | SnackEyes.com
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{:name=>"author", :content=>"Bryan Woods"}
    %meta{:name=>"description", :content=>"Roll Dice Online: Because Online Dice Rolling Should Be Pretty | SnackEyes.com"}
    %meta{:name=>"keywords", :content=>"dice, die, roll, roll dice, roll die, roll dice online, roll die online, roll two dice online"}
    %style{:type=>"text/css"}
      body { align: center; background-color: #fff; color: #000; text-align: center; font-family: arial, sans-serif; }
    / Somebody has to roll the dice. Mine are the hands that hold those dice.
  %body
    = yield
    / Google Analytics
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-3114392-16");
        pageTracker._trackPageview();
      } 
      catch(err) {
      }