%p
  %img{:src=>"/images/#{1 + rand(6)}.png", :alt=>"Die", :title=>"Die"}
  %img{:src=>"/images/#{1 + rand(6)}.png", :alt=>"Die", :title=>"Die"}
%br
Or would you rather
%a{:href=>"/"} Roll one?
      